html { 
  background-color: pink; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

body{
  padding:0;
  margin:0;
}

h1{
  font-family: bbeauty;
}

header{
	font-family: bbeauty;
	color: white;
	text-align: center;
}

.box{
	background: grey;
	padding : 10px;
}

ul{
  color: black;
}
.container{
	text-align: center;
  width:400;
  height:400;
  position:absolute;
  top:calc(60vh - 200px);
  overflow:hidden;
  color: black;
}